.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 90px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}
.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #15ff2c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
   // padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #15ff2f 106.28%);
    cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 20px 40px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #15ff2f 106.28%);   /* button background color */
  color: white;          /* text color */
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 50px;    /* rounded corners */
  text-decoration: none; /* remove underline */
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.btn:hover {
  background: linear-gradient(264deg, #DF8908 -5.09%, #15ff2f 106.28%);
  transform: scale(1.05);
}

/* Optional: add shadow */
.btn:active {
  transform: scale(0.98);
}
.hero-a{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: 1px solid white;
}
.hero-resume:hover{
    border-color: #15ff2c;
}



@media (max-width: 768px) {
  .hero img{
    margin-top: 120px;
    width: 260px;
  }
  .hero h1{
    margin-top: 50px;
    width: 90%;
    font-size: 50px;
  }
  .hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }
  .hero-action{
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume{
    padding: 20px 50px;
    border-radius: 40px;
  }
  .btn{
    position: relative;
    padding-right:10px;
    align-items: center;
    border-radius:60px;
    gap:16px;
  }
}