.MyWork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container p{
    font-size: 18px;
    font-weight: 300;
}


@media (max-width: 768px) {
  .MyWork{
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .mywork-title h1{
    padding: 0;
    font-size: 40px;
    font-weight: 600;
  }
  .mywork-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .mywork-showmore{
    padding: 20px 10px;
    font-size: 28px;
    margin: 10px auto;
    cursor: pointer;
  }
}