.Footer{
    margin: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #323232;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-family: Outfit;
    font-size: 18px;
}
.footer-sub{
    font-size: 20px;
    padding: 22px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #15ff2f 106.28%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-sub:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width: 600px) {
  .Footer{
    margin: 50px 70px;
  }
  .footer-top{
    flex-direction: column;
    gap: 50px;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-sub{
    grid-template-columns: 1fr 1fr;
  }
  .footer-email-input{
    gap: 10px;
    padding:14px;
    
  }
}